body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: navajowhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.destination-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.App{
  padding: 20px;
}

.destination-item {
  width: 250px; 
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid darkgrey;
}


.destination-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.visit-area{
  background-color: olive;
  border-radius: 20px;
  color: white;
}

.visit-btn{
  background-color: yellowgreen;
  border-radius: 8px;
  border: 1px solid;
  color: black;
  margin-bottom: 10px;
}

.notes{
  background-color: olive;
  border-radius: 20px;
  color: white;
}
.note2{
  height: 20px;
}


.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


.search-input {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.add-form-container {
  background-color: #333;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.add-form-container h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
}

.add-form-container input, 
.add-form-container textarea, 
.add-form-container button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 400px;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}


.add-form-container button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.add-form-container button:hover {
  background-color: #0056b3;
}

