body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: navajowhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.destination-list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.App{
  padding: 20px;
}

.destination-item {
  width: 250px; 
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid darkgrey;
}


.destination-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.visit-area{
  background-color: olive;
  border-radius: 20px;
  color: white;
}

.visit-btn{
  background-color: yellowgreen;
  border-radius: 8px;
  border: 1px solid;
  color: black;
  margin-bottom: 10px;
}

.notes{
  background-color: olive;
  border-radius: 20px;
  color: white;
}